.container{
    border: 5px solid green;
}

.box-1{
    min-height: 250px;
    background: rgb(206, 125, 125);
}

.box-2{
    min-height: 250px;
    background: yellowgreen;
}

.box-3{
    min-height: 250px;
    background: rgb(191, 140, 243);
}

.box-4{
    min-height: 250px;
    background: rgb(132, 216, 143);
}